* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}

body {
	background: #f5f5f5;
	font: 14px sans-serif;
	color: #333;
}

ul {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	list-style: none;
}

li {
	width: 300px;
	height: 100px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.322);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.projectContainer {
	background-color: white;
	padding: 10px;
	border-radius: 8px;
	margin: 20px;
}

.projectHeader {
	display: flex;
	justify-content: space-between;
}

.projectTitle {
	color: gray;
	font-weight: bold;
	font-size: 18px;
}

.projectOwner {
	color: rgb(85, 85, 85);
}

.projectId {
	font-size: 10px;
	margin-top: 5px;
	color: gray;
	border-top: 1px solid gray;
	padding-top: 5px;
}

.addButton {
	margin: 20px;
	width: 120px;
	height: 25px;
	color: white;
	background-color: rgb(113, 89, 193);
	border: none;
	border-radius: 8px;
	font-weight: bold;
	cursor: pointer;
}

.addButton:hover {
	opacity: 0.9;
}

.deleteButton {
	background-color: red;
	border: none;
	border-radius: 4px;
	width: 15px;
	height: 15px;
	color: white;
	font-weight: bold;
	cursor: pointer;
}

.deleteButton:hover {
	opacity: 0.6;
}
